.main-container {
  width: 100%;
  height: 100%;
}
.sub-container {
  margin: 20px
}


/*header style*/
.main-container-header {
  background-color: black;
  width: 120%;
  height: 120px;
}
.title-image {
  width: 100px;
  height: 100px;
  margin: 10px;
  position: relative;
  left: 50px;
}

.test:hover {
  animation-name: testname;
  animation-duration: 1s;
  animation-iteration-count: 100000000000000;
}

@keyframes testname {
  0% {box-shadow: 2px 3px 18px #dee2e6;}
  25% {box-shadow: 3px 4px 19px #dee2e6;}
  50% {box-shadow: 2px 4px 18px #dee2e6;}
  75% {box-shadow: 2px 4px 19px #dee2e6;}
  100% {box-shadow: 2px 3px 18px #dee2e6;}
}

